@font-face {
    font-family: 'DINdong';
    src: url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/dindong-webfont.woff2') format('woff2'),
         url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/dindong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brizeuxnormal';
    src: url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/brizeux_normal-webfont.woff2') format('woff2'),
         url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/brizeux_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DINdong', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    color: blue;
    height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100%; /* Prend toute la hauteur de la page */
}

.sidebar {
    
    width: 20%;
    min-width: 150px;
    background-color: white;
    padding: 30px;
    border-right: 1px solid #000eff00;
    display: flex;
    flex-direction: column;
    height: 100%; /* Occupe toute la hauteur de .container */
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1em;
    color: blue; 
}

.container h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

.container a {
    text-decoration: none;
    color: blue;
}

.container a:hover {
    color: #ff4100; /* Couleur de texte lorsqu'on passe la souris */
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    text-decoration: none; 
    color: #7171ff;
}

.sidebar ul li a:hover {
    color: #ff4100; /* Couleur de texte lorsqu'on passe la souris */
}

.titre_page {
font-size: 1em;
font-weight: bold; 
margin-bottom: 10px;
}

.content {
    width: 100%;
    padding: 30px;
    overflow: auto;
}

.photo-gallery {
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
    gap: 18px;
}

.case {
    max-width: 1000px; /* Largeur maximale de la section */ /* Ajustez la hauteur selon vos besoins */
    overflow: hidden; /* Masque le débordement */
    position: relative; /* Position relative pour le positionnement des enfants */
}


.case p {
    font-family:'brizeuxnormal', sans-serif;
    font-size: 0.7em;
    color: #7171ff;
    margin-bottom: 10px;
}


.photo-gallery figure {
    max-width: 500px;
    text-align: left;
}

.photo-gallery img {
    width: 100%;
    height: auto;
}

.photo-gallery a {
    position: relative;
    display: inline-block;
}

.photo-gallery .original {
    display: block;
    transition: opacity 0.3s ease; /* Transition pour un effet fluide */
}

.photo-gallery .trame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Masquer par défaut */
    transition: opacity 0.3s ease; /* Transition pour un effet fluide */
}

.photo-gallery a:hover .original {
    opacity: 0; /* Masquer l'image originale au survol */
}

.photo-gallery a:hover .trame {
    opacity: 1; /* Afficher l'image tramée au survol */
}


.photo-gallery figcaption {
    font-size: 0.7em;
    color: #7171ff;
    margin-bottom: 9px;
    font-family: 'brizeuxnormal', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Space between the images */
    max-width: 900px; /* Adjust the maximum width as needed */
    margin: 20px; /* Center the grid */
}

.grid-item img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: add rounded corners */
}

.footer {
    margin-top: 30px;
    padding-top: 20px;
    font-size: 0.7em;
    color: #7171ff;
    text-align: left;
}

