@font-face {
    font-family: 'DINdong';
    src: url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/dindong-webfont.woff2') format('woff2'),
         url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/dindong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brizeuxnormal';
    src: url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/brizeux_normal-webfont.woff2') format('woff2'),
         url('https://horphhe.github.io/portfolio-amelia-pellerin/fonts/brizeux_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.ligne-avec-fleches {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  max-width: 550px;
}

.ligne {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fleche-gauche, .fleche-droite {
  font-size: 1em;
  font-family: 'brizeuxnormal', sans-serif;
  color: #7171ff;
  flex-shrink: 0;
}


.no-style {
  list-style-type: none;
    font-family:'brizeuxnormal', sans-serif;
    font-size: 0.7em;
    color: #7171ff;
}

#book {
    width: 550px;
    height: 437px;
    margin: 50px auto;
    position: relative;
}

.cover-page {
    background-color: #333;
    border: 5px solid #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    z-index: 2;
    pointer-events: none; 
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.page::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    right: 0;
    z-index: 1;
    pointer-events: none;
}


.page {
    width: 100%;
    height: 100%;
    background: #fff;
    border: none; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    position: relative;
    overflow: hidden;
     display: flex;  
    align-items: center;
    justify-content: center; 
    margin: 0;
    padding: 0;  
}

.page:nth-child(odd) {
    background: #eaeaea;
}

.page img {
    width: 100%;             
    height: 100%;          
    object-fit: cover; 
    display: block;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DINdong', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    
    width: 20%;
    min-width: 150px;
    background-color: white;
    padding: 30px;
    border-right: 1px solid #000eff00;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1em;
    color: blue; 
}

.container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.container a {
    text-decoration: none;
    color: blue;
}

.container a:hover {
    color: #ff4100;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    text-decoration: none; 
    color: #7171ff;
}

.sidebar ul li a:hover {
    color: #ff4100;
}

.content {
    width: 100%;
    padding: 30px;
    overflow: auto;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 550px;
}

.case {
    max-width: 1000px;
    overflow: hidden;
    position: relative;
}


.case p {
    font-family:'brizeuxnormal', sans-serif;
    font-size: 1em;
    color: blue;
    margin-bottom: 10px;
    text-align: justify; 
    hyphens: auto;
    line-height: 1.5;
}

.photo-gallery figure {
    max-width: 550px;
    text-align: left;
}

.photo-gallery img {
    width: 100%;
    height: auto;
}

.photo-gallery a {
    position: relative;
    display: inline-block;
}

.photo-gallery figcaption {
    font-size: 1em;
    color: #7171ff;
    margin-bottom: 9px;
    font-family: 'brizeuxnormal', sans-serif;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.footer {
    margin-top: 30px;
    padding-top: 20px;
    font-size: 0.7em;
    color: #7171ff;
    text-align: left;
}

.souligne {
    text-decoration: underline !important;
}
